# Data files
/data/
/processed_data/
/models/
/results/

# Python artifacts
__pycache__/
*.py[cod]
.python-version

# Environment files
.env
venv/
*.venv

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Large files
*.npy
*.pt
*.pth
*.h5